@import '../../styles/variables'; 

.header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    background-color: $blue;
    
    .logo-icon {
        display: flex;
        align-items: center;
        margin-right: .5rem;

        svg {
            width: 25px;
            height: 25px;
            fill: $white;
        }
    }

    .logo-text {
        color: $white;
    }
}