.input-wrapper {
    position: relative;
    height: 100%;

    .input {
        width: 100%;
        height: 100%;
        padding: .5rem;
        font-size: 1.3rem;

        &.has-icon {
            padding-right: 3rem;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        cursor: pointer;

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}